@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500i,700";
@import "https://fonts.googleapis.com/css?family=Montserrat:600";
.alert-success, .alert-primary, .alert-warning, .alert-danger {
  color: #fff; }
  .alert-success *, .alert-primary *, .alert-warning *, .alert-danger * {
    color: #fff;
    font-weight: inherit; }

.alert.alert-success {
  background-color: #50bd35; }

.alert.alert-primary {
  background-color: #678cf9; }

.alert.alert-warning {
  background-color: #ffbb41; }

.alert.alert-danger {
  background-color: #ec2427; }

.alert.bd-success {
  border: 1px solid #50bd35; }

.alert.bd-primary {
  border: 1px solid #678cf9; }

.alert.bd-warning {
  border: 1px solid #ffbb41; }

.alert.bd-danger {
  border: 1px solid #ec2427; }

.success-shadow {
  box-shadow: 0 1px 4px 0 #50bd35 !important; }

.primary-shadow {
  box-shadow: 0 1px 4px 0 #678cf9 !important; }

.warning-shadow {
  box-shadow: 0 1px 4px 0 #ffbb41 !important; }

.danger-shadow {
  box-shadow: 0 1px 4px 0 #ec2427 !important; }

html {
  font-size: 14px; }

p, .p {
  color: #000000;
  font-family: "Roboto";
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1.57;
  margin-top: 20px;
  text-align: left; }

h1, .h1 {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 2.71429rem;
  line-height: 1.11; }

h2, .h2 {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 2.42857rem;
  line-height: 1.18; }

h3, .h3 {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 2rem;
  line-height: 1.14; }

h4, .h4 {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 1.57143rem;
  line-height: 1.18; }

h5, .h5 {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 1.28571rem;
  line-height: 1.22; }

h6, .h6 {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 1.14286rem;
  line-height: 1.25; }

caption {
  line-height: 1.33;
  opacity: 0.5; }
  caption.style_1 {
    color: #000000;
    font-family: "Roboto";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    text-align: left;
    font-size: 0.85rem;
    font-weight: 400; }
  caption.style_2 {
    color: #000000;
    font-family: "Roboto";
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: normal;
    text-align: left;
    font-size: 0.71rem;
    font-weight: 500;
    letter-spacing: 0.5px; }

li {
  font-family: "Roboto";
  font-size: 1.14rem; }

.line-content {
  display: table; }
  .line-content .line {
    background-color: #e22a6f;
    display: table-cell;
    height: 133px;
    width: 3px; }
  .line-content .text {
    margin-left: 2.85rem; }
    .line-content .text h4 {
      font-size: 18px;
      font-style: italic;
      line-height: 24px;
      margin-bottom: 12px;
      font-weight: 400; }

.flex_tab {
  display: flex; }

span.h6 {
  font-weight: 400; }

.top-caption {
  font-size: 1rem; }

body {
  background: #f1f5f8;
  overflow-x: hidden;
  font-family: "Roboto"; }
  body .navbar {
    padding: 0.89rem 0.71rem;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1); }
  body .navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none; }
  body .line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0; }
  body .wrapper {
    overflow-x: hidden !important;
    display: flex;
    align-items: stretch;
    perspective: 1500px; }
    body .wrapper #sidebar {
      min-width: 250px;
      max-width: 250px;
      min-height: 100vh;
      max-height: inherit;
      background-color: #fff;
      color: #000;
      transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
      transform-origin: bottom left; }
      body .wrapper #sidebar .sidebar-header {
        padding: 2rem 2.14rem;
        background-color: #fff; }
        body .wrapper #sidebar .sidebar-header .logo h3 {
          display: inline-table;
          vertical-align: sub;
          font-size: 1.42rem;
          font-weight: 600;
          font-family: "Montserrat"; }
        body .wrapper #sidebar .sidebar-header .logo i {
          display: inline-table;
          font-size: 1.42rem;
          vertical-align: middle; }
          body .wrapper #sidebar .sidebar-header .logo i.icon-circle-empty:before {
            background: linear-gradient(to right, #e22a6f, #fe6666);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
    body .wrapper .components {
      padding: 20px 0;
      border-bottom: 1px solid #efefef; }
      body .wrapper .components .active {
        color: #e42d6f;
        background-color: #fff; }
      body .wrapper .components li i {
        margin-right: 15px;
        margin-left: 20px; }
      body .wrapper .components li a {
        padding: 10px;
        font-size: 1.14rem;
        display: block; }
        body .wrapper .components li a:hover {
          color: #e42d6f;
          background: #fff;
          opacity: initial; }
      body .wrapper .components li .active {
        color: #fff;
        background-color: #e42d6f; }
      body .wrapper .components li .ul-element .active {
        color: #e42d6f;
        background-color: #fff;
        opacity: initial; }
    body .wrapper .nav-b {
      padding: 5px 0; }
      body .wrapper .nav-b .active {
        color: #e42d6f;
        background-color: #fff; }
      body .wrapper .nav-b li i {
        margin-right: 15px;
        margin-left: 20px; }
      body .wrapper .nav-b li a {
        padding: 10px;
        font-size: 1.1em;
        display: block; }
        body .wrapper .nav-b li a:hover {
          color: #e42d6f;
          background: #fff; }
      body .wrapper .nav-b li .active {
        color: #fff;
        background-color: #e42d6f; }
    body .wrapper #sidebarCollapse {
      width: 40px;
      height: 40px;
      background: #f5f5f5; }
      body .wrapper #sidebarCollapse span {
        width: 80%;
        height: 2px;
        margin: 0 auto;
        display: block;
        background: #555;
        transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
        transition-delay: 0.2s;
        transform: none;
        opacity: 1;
        margin: 5px auto; }
      body .wrapper #sidebarCollapse.active span {
        margin: 0px auto; }
        body .wrapper #sidebarCollapse.active span:first-of-type {
          transform: rotate(45deg) translate(2px, 2px); }
        body .wrapper #sidebarCollapse.active span:nth-of-type(2) {
          opacity: 0; }
        body .wrapper #sidebarCollapse.active span:last-of-type {
          transform: rotate(-45deg) translate(1px, -1px); }
    body .wrapper .right-menu .notify {
      display: inline-table; }
      body .wrapper .right-menu .notify .notification {
        position: absolute;
        top: 21px;
        right: 128px; }
        body .wrapper .right-menu .notify .notification i {
          font-size: 5px;
          color: #ec2427; }
    body .wrapper .right-menu .user {
      display: inline-table; }
      body .wrapper .right-menu .user ul {
        padding-left: 20px; }
      body .wrapper .right-menu .user li {
        list-style: none; }
        body .wrapper .right-menu .user li .notification {
          position: absolute;
          top: -5px;
          right: 15px; }
          body .wrapper .right-menu .user li .notification i {
            font-size: 5px;
            color: #50bd35; }
      body .wrapper .right-menu .user a {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s; }
        body .wrapper .right-menu .user a:hover, body .wrapper .right-menu .user a :focus {
          color: inherit;
          text-decoration: none;
          transition: all 0.3s; }
        body .wrapper .right-menu .user a[data-toggle="collapse"] {
          position: relative; }
        body .wrapper .right-menu .user a[aria-expanded="false"]::before {
          content: none;
          display: block;
          position: absolute;
          right: 20px;
          font-family: 'FontAwesome';
          font-size: 16px; }
        body .wrapper .right-menu .user a[aria-expanded="true"] {
          color: #fff !important;
          background: #fff !important; }
          body .wrapper .right-menu .user a[aria-expanded="true"]::before {
            content: none;
            display: block;
            position: absolute;
            right: 20px;
            font-family: 'FontAwesome';
            font-size: 16px; }
      body .wrapper .right-menu .user .dropdown-menu {
        left: auto;
        right: 0;
        min-width: 12rem; }
        body .wrapper .right-menu .user .dropdown-menu .user-info img {
          display: block;
          margin: 0 auto; }
        body .wrapper .right-menu .user .dropdown-menu .user-info h6 {
          text-align: center;
          margin-top: 5px;
          font-weight: 400; }
        body .wrapper .right-menu .user .dropdown-menu .user-info a {
          text-align: center; }
        body .wrapper .right-menu .user .dropdown-menu .stat .one {
          color: #5bc142;
          font-size: 1.5em;
          vertical-align: middle; }
        body .wrapper .right-menu .user .dropdown-menu .stat .two {
          color: #feb940;
          font-size: 1.5em;
          vertical-align: middle; }
        body .wrapper .right-menu .user .dropdown-menu .stat .three {
          color: #ec2329;
          font-size: 1.5em;
          vertical-align: middle; }
        body .wrapper .right-menu .user .dropdown-menu .stat .for {
          color: #767676;
          font-size: 1.5em;
          vertical-align: middle; }
        body .wrapper .right-menu .user .dropdown-menu .stat ul {
          padding-left: 11%;
          margin-bottom: 0;
          margin-top: 0; }
          body .wrapper .right-menu .user .dropdown-menu .stat ul i {
            margin-right: 0;
            margin-left: 0; }
    body .wrapper .one {
      color: #e22b6e; }
    body .wrapper .two {
      color: #fbc45d; }
    body .wrapper .three {
      color: #678bf9; }
    body .wrapper .for {
      color: #d4d9dc; }
    body .wrapper .five {
      color: #62c64c; }
    body .wrapper .content-container {
      margin-left: 40px;
      margin-right: 40px; }
    body .wrapper .chart-one {
      background-color: #fff;
      width: 100%;
      height: 300px;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1.28rem;
      font-weight: 700; }
      body .wrapper .chart-one .chart {
        display: inline-table; }
        body .wrapper .chart-one .chart h6 {
          margin-left: 3.35rem;
          padding-top: 1.92rem;
          position: absolute;
          z-index: 999; }
        body .wrapper .chart-one .chart #curve_chart {
          padding-top: 12px;
          width: 500px;
          height: 290px; }
      body .wrapper .chart-one .chart-stat {
        display: inline-table;
        position: absolute;
        width: 350px;
        height: 300px; }
        body .wrapper .chart-one .chart-stat .text-chart {
          width: 100%;
          height: 50px;
          margin-left: 2%;
          margin-top: 8%;
          color: #000; }
          body .wrapper .chart-one .chart-stat .text-chart .dsp {
            font-size: 1rem;
            font-weight: 400;
            opacity: 0.5;
            display: inline-table; }
          body .wrapper .chart-one .chart-stat .text-chart .text-two {
            margin-left: 10px;
            background: linear-gradient(to right, #e22a6f, #fe6666);
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 3px;
            color: #fff;
            opacity: 10; }
          body .wrapper .chart-one .chart-stat .text-chart .text-three {
            margin-left: 10px; }
          body .wrapper .chart-one .chart-stat .text-chart .text-for {
            margin-left: 10px; }
        body .wrapper .chart-one .chart-stat .chart-container {
          padding-top: 15px; }
          body .wrapper .chart-one .chart-stat .chart-container p {
            font-size: 0.71rem;
            opacity: 0.5;
            font-weight: 500;
            letter-spacing: 0.5px; }
          body .wrapper .chart-one .chart-stat .chart-container .t1 {
            width: 50%;
            float: left;
            height: 80px;
            border-right: 1px solid #e6e6e6;
            border-bottom: 1px solid #e6e6e6;
            text-align: center; }
            body .wrapper .chart-one .chart-stat .chart-container .t1 .t1-section {
              width: 110%; }
              body .wrapper .chart-one .chart-stat .chart-container .t1 .t1-section .t1-top i {
                display: inline-table; }
              body .wrapper .chart-one .chart-stat .chart-container .t1 .t1-section .t1-top p {
                display: inline; }
              body .wrapper .chart-one .chart-stat .chart-container .t1 .t1-section .t1-bottom {
                width: 95%; }
          body .wrapper .chart-one .chart-stat .chart-container .t2 {
            width: 50%;
            float: right;
            height: 80px;
            border-bottom: 1px solid #e6e6e6;
            text-align: center; }
            body .wrapper .chart-one .chart-stat .chart-container .t2 .t2-section {
              width: 62%; }
              body .wrapper .chart-one .chart-stat .chart-container .t2 .t2-section .t2-top i {
                display: inline-table; }
              body .wrapper .chart-one .chart-stat .chart-container .t2 .t2-section .t2-top p {
                display: inline; }
              body .wrapper .chart-one .chart-stat .chart-container .t2 .t2-section .t2-bottom {
                width: 88%; }
          body .wrapper .chart-one .chart-stat .chart-container .t3 {
            width: 50%;
            float: left;
            height: 80px;
            border-right: 1px solid #e6e6e6;
            text-align: center; }
            body .wrapper .chart-one .chart-stat .chart-container .t3 .t3-section {
              width: 101%;
              margin-top: 20px; }
              body .wrapper .chart-one .chart-stat .chart-container .t3 .t3-section .t3-top i {
                display: inline-table; }
              body .wrapper .chart-one .chart-stat .chart-container .t3 .t3-section .t3-top p {
                display: inline; }
              body .wrapper .chart-one .chart-stat .chart-container .t3 .t3-section .t3-bottom {
                width: 104%; }
          body .wrapper .chart-one .chart-stat .chart-container .t4 {
            width: 50%;
            height: 80px;
            float: right;
            text-align: center; }
            body .wrapper .chart-one .chart-stat .chart-container .t4 .t4-section {
              width: 56%;
              margin-top: 20px; }
              body .wrapper .chart-one .chart-stat .chart-container .t4 .t4-section .t4-top i {
                display: inline-table; }
              body .wrapper .chart-one .chart-stat .chart-container .t4 .t4-section .t4-top p {
                display: inline; }
              body .wrapper .chart-one .chart-stat .chart-container .t4 .t4-section .t4-bottom {
                width: 97%; }
          body .wrapper .chart-one .chart-stat .chart-container .t1-bottom, body .wrapper .chart-one .chart-stat .chart-container .t2-bottom, body .wrapper .chart-one .chart-stat .chart-container .t3-bottom, body .wrapper .chart-one .chart-stat .chart-container .t4-bottom {
            font-size: 1.28rem;
            font-weight: 700; }
    body .wrapper .diag {
      background-color: #fff;
      border-radius: 5px; }
      body .wrapper .diag .chart-title .percentage {
        position: absolute;
        z-index: 999;
        width: 92%;
        top: 5rem; }
      body .wrapper .diag .chart-title h4 {
        display: inline-block;
        position: absolute;
        margin: 16px;
        z-index: 999;
        font-size: 18px; }
      body .wrapper .diag .chart-title i {
        float: right;
        z-index: 999;
        position: relative;
        margin: 16px;
        opacity: 0.5;
        transition: 0.3s; }
        body .wrapper .diag .chart-title i:hover {
          opacity: 0.8;
          transition: 0.3s; }
      body .wrapper .diag .chart-title p {
        text-align: center;
        font-weight: bold;
        color: #e22a6f; }
      body .wrapper .diag .chart-section-bottom {
        margin-left: 5%;
        margin-right: 5%; }
        body .wrapper .diag .chart-section-bottom table thead tr th {
          border-top: 0; }
        body .wrapper .diag .chart-section-bottom table tbody tr th {
          border-top: 0; }
          body .wrapper .diag .chart-section-bottom table tbody tr th i {
            float: left; }
        body .wrapper .diag .chart-section-bottom table tbody tr td {
          border-top: 0;
          float: right; }
    body .wrapper .table_sec {
      background-color: #fff;
      border-radius: 5px; }
      body .wrapper .table_sec .data-content {
        padding: 20px 30px; }
        body .wrapper .table_sec .data-content h4 {
          display: inline-table;
          margin-top: 2%;
          margin-left: 10px;
          font-size: 18px; }
        body .wrapper .table_sec .data-content h5 {
          font-size: 18px; }
        body .wrapper .table_sec .data-content .table-collapse {
          display: inline; }
          body .wrapper .table_sec .data-content .table-collapse .data-col {
            float: right;
            margin-right: 10px;
            margin-top: 1%;
            padding-bottom: 2px;
            padding-top: 2px;
            padding-left: 10px;
            padding-right: 5px;
            background: linear-gradient(to right, #e22a6f, #fe6666);
            border-radius: 3px; }
            body .wrapper .table_sec .data-content .table-collapse .data-col h5 {
              margin-bottom: 0;
              font-weight: 400;
              color: #fff;
              font-size: 1rem; }
        body .wrapper .table_sec .data-content table thead tr th {
          border-top: 0 !important; }
    body .wrapper .form i {
      width: 26px;
      height: 26px;
      line-height: 38px;
      text-align: center;
      margin-right: -26px;
      position: relative;
      z-index: 1;
      float: left;
      color: #000000;
      opacity: 0.5;
      padding-left: 20px; }
    body .wrapper .search-form {
      padding-left: 50px;
      width: 445px;
      border-radius: 19px;
      font-weight: 400; }
    body .wrapper .nav-container {
      padding-right: 0;
      padding-left: 0;
      margin-right: auto;
      margin-left: auto;
      width: 100%; }
    body .wrapper .section_1 {
      margin-bottom: 20px; }
    body .wrapper .chart-min {
      background-color: #fff;
      width: 100%;
      height: 100px;
      display: block;
      border-radius: 5px; }
      body .wrapper .chart-min .chart-image-1 {
        float: left; }
        body .wrapper .chart-min .chart-image-1 img {
          height: 70px;
          width: 80px;
          margin-top: 13px;
          margin-left: 11px; }
      body .wrapper .chart-min .chart-image-2 {
        float: left; }
        body .wrapper .chart-min .chart-image-2 img {
          height: 63px;
          width: 90px;
          margin-top: 28px;
          margin-right: 10px; }
      body .wrapper .chart-min .chart-image-3 {
        float: left; }
        body .wrapper .chart-min .chart-image-3 img {
          height: 75px;
          width: 85px;
          margin-top: 11px;
          margin-left: 5px;
          margin-right: 14px; }
      body .wrapper .chart-min .chart-info-1 h2 {
        font-size: 23px;
        padding-top: 22px; }
      body .wrapper .chart-min .chart-info-1 p {
        font-size: 1rem;
        opacity: 0.5; }
    body .wrapper table thead tr th {
      color: #939393; }
    body .wrapper table img {
      margin-right: 5px; }
    body .wrapper table th {
      font-size: 13px;
      font-weight: 400; }
    body .wrapper table .pure {
      color: #e74984; }

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s; }
  a:hover, a :focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s; }
  a[data-toggle="collapse"] {
    position: relative; }
  a[aria-expanded="false"]::before {
    content: '\f107';
    display: inline;
    position: absolute;
    right: 20px;
    font-family: 'FontAwesome';
    font-size: 16px; }
  a[aria-expanded="true"] {
    color: #fff !important;
    background: linear-gradient(to right, #e22a6f, #fe6666) !important; }
    a[aria-expanded="true"]::before {
      content: '\f106';
      display: inline;
      position: absolute;
      right: 20px;
      font-family: 'FontAwesome';
      font-size: 16px; }
  a .download {
    background: #fff;
    color: #7386D5; }
  a article {
    background-color: #e42d6f !important;
    color: #fff !important; }
    a article:hover {
      background-color: #e42d6f !important;
      color: #fff !important; }

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  color: #000000;
  opacity: 0.5; }

ul .CTAs {
  padding: 20px; }
  ul .CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px; }

@media screen and (max-width: 991px) {
  body .content_tables {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px; }
  body .navbar {
    margin-bottom: 0; }
    body .navbar .container-fluid .form .form-control {
      width: 100%; }
  body .wrapper .card {
    border-radius: 0; }
  body .wrapper .content-container {
    margin: 0; }
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg); }
    #sidebar.active {
      margin-left: 0;
      transform: none; }
  #sidebarCollapse span:first-of-type, #sidebarCollapse span:nth-of-type(2), #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto; }
  #sidebarCollapse .active span {
    margin: 0 auto; }
    #sidebarCollapse .active span:first-of-type {
      transform: rotate(45deg) translate(2px, 2px); }
    #sidebarCollapse .active span:nth-of-type(2) {
      opacity: 0; }
    #sidebarCollapse .active span:last-of-type {
      transform: rotate(-45deg) translate(1px, -1px); }
  .navbar-header {
    display: block; }
  .chart-min {
    margin-bottom: 10px; }
  .content-container {
    margin-right: 20px; }
  .form {
    width: 44%;
    margin-bottom: 5px; }
  body .wrapper .diag .chart-title p {
    margin: 5%; }
  #curve_chart {
    display: none; }
  .chart {
    display: none !important; }
  .chart-stat {
    width: 92% !important; } }

@media screen and (min-width: 992px) {
  .navbar-header {
    display: none; } }

.jFiler-input-button {
  color: #fff;
  background: linear-gradient(to right, #e22a6f, #fe6666); }

.jFiler-input-dragDrop .jFiler-input-icon {
  color: #e22a6f; }

.jFiler-input-inner .btn {
  margin: 0;
  color: #fff !important; }
  .jFiler-input-inner .btn:hover {
    color: #e22a6f !important; }

.btn {
  line-height: 1.28571;
  padding: 0.78571rem 1.57143rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 20px; }
  .btn:focus {
    box-shadow: 0 0 0 0.2rem #f1f5f8; }
  .btn.btn-xs {
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    background-image: linear-gradient(to right, #e22a6f, #fe6666);
    padding: 7px 7px;
    line-height: 1; }
  .btn.btn-sm {
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    background-image: linear-gradient(to right, #e22a6f, #fe6666);
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    padding: 10px 10px;
    line-height: 1; }
  .btn.btn-default {
    line-height: 1.28; }
  .btn.btn-lg {
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    background-image: linear-gradient(to right, #e22a6f, #fe6666);
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    line-height: 1.57; }
  .btn.rounded {
    border-radius: 1.42rem !important; }
  .btn.square {
    border-radius: 0 !important; }
  .btn.btn-default {
    border-radius: 5px;
    border: 1px solid transparent;
    color: #fff;
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    background-image: linear-gradient(to right, #e22a6f, #fe6666); }
    .btn.btn-default.disable {
      background-repeat: repeat;
      background-size: 110% 110%;
      -webkit-background-size: 110% 110%;
      -moz-background-size: 110% 110%;
      -ms-background-size: 110% 110%;
      -o-background-size: 110% 110%;
      border-radius: 5px;
      border: 1px solid transparent;
      color: #fff;
      background-image: linear-gradient(to right, #e22a6f, #fe6666);
      opacity: 0.6;
      pointer-events: none; }
    .btn.btn-default:hover {
      background-color: #fff;
      background: none;
      border-color: #e22a6f;
      color: #ff3883;
      transition: .3s; }
  .btn.btn-outline {
    background-color: #fff;
    border-color: #e22a6f;
    color: #e22a6f; }
    .btn.btn-outline.disable {
      background-color: #fff;
      border-color: #e22a6f;
      border-radius: 5px;
      color: #e22a6f;
      opacity: 0.5;
      pointer-events: none; }
    .btn.btn-outline:hover {
      background-repeat: repeat;
      background-size: 110% 110%;
      -webkit-background-size: 110% 110%;
      -moz-background-size: 110% 110%;
      -ms-background-size: 110% 110%;
      -o-background-size: 110% 110%;
      background: linear-gradient(to right, #e22a6f, #fe6666);
      border: 1px solid transparent;
      color: #fff;
      transition: .3s; }
      .btn.btn-outline:hover:active {
        background: linear-gradient(to right, #e22a6f, #fe6666);
        color: #fff; }
  .btn.btn-secondary {
    background-color: #e22a6f;
    border-color: #e22a6f; }
    .btn.btn-secondary:hover {
      background-color: #ff3883;
      border-color: #ff3883; }
  .btn.btn-success:hover {
    background-color: #50bd35 !important;
    opacity: 0.7; }
  .btn.btn-warning {
    color: #fff; }
    .btn.btn-warning:hover {
      background-color: #faa110 !important;
      opacity: 0.7; }
  .btn.btn-danger:hover {
    background-color: #ec2427 !important;
    opacity: 0.7; }
  .btn.btn-primary {
    background: #e22a6f;
    border: 1px solid transparent; }
    .btn.btn-primary:active {
      background-color: #e22a6f !important;
      border-color: transparent !important; }
      .btn.btn-primary:active:focus {
        box-shadow: 0 0 0 0.2rem rgba(234, 25, 141, 0.5) !important; }
    .btn.btn-primary:hover {
      border: 1px solid transparent;
      opacity: 0.7; }
    .btn.btn-primary:disabled {
      background-color: #e22a6f;
      border-color: #e22a6f;
      opacity: 0.5; }
  .btn.btn-nav {
    background-color: #fff;
    border-radius: 2px;
    border: #e22a6f;
    color: #7f7f7f;
    margin-right: 10px; }
    .btn.btn-nav:hover {
      background-repeat: repeat;
      background-size: 110% 110%;
      -webkit-background-size: 110% 110%;
      -moz-background-size: 110% 110%;
      -ms-background-size: 110% 110%;
      -o-background-size: 110% 110%;
      background: linear-gradient(to right, #e22a6f, #fe6666);
      color: #fff; }
  .btn.btn-social {
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    padding: 0.7rem 0.71rem;
    line-height: 1;
    background: linear-gradient(to right, #e22a6f, #fe6666);
    border-radius: 3px !important;
    border: 1px solid transparent;
    margin-right: 1.42rem; }
    .btn.btn-social:hover {
      background: #fff !important;
      border: solid 1px #ff3883;
      transition: 0.3s; }
      .btn.btn-social:hover i {
        color: #ff3883; }
  .btn.btn-tag-outline {
    padding: 0.375rem 0.75rem;
    line-height: 1;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #e22a6f;
    color: #ff3883;
    font-size: 0.85rem; }
    .btn.btn-tag-outline:disabled {
      background-color: #fff;
      border-radius: 3px;
      border: 1px solid #e22a6f;
      color: #e22a6f;
      font-size: 0.85rem;
      opacity: 0.5;
      pointer-events: none; }
    .btn.btn-tag-outline:hover {
      background-repeat: repeat;
      background-size: 110% 110%;
      -webkit-background-size: 110% 110%;
      -moz-background-size: 110% 110%;
      -ms-background-size: 110% 110%;
      -o-background-size: 110% 110%;
      background-image: linear-gradient(to right, #e22a6f, #fe6666);
      border: 1px solid transparent;
      color: #fff !important; }
      .btn.btn-tag-outline:hover:active {
        background-image: linear-gradient(to right, #e22a6f, #fe6666); }
  .btn.btn-tag {
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    padding: 0.375rem 0.75rem;
    line-height: 1;
    background-image: linear-gradient(to right, #e22a6f, #fe6666);
    border-radius: 3px;
    border: 1px solid transparent;
    color: #fff;
    font-size: 0.85rem; }
    .btn.btn-tag:disabled {
      background-image: linear-gradient(to right, #e22a6f, #fe6666);
      border-radius: 3px;
      border: 0;
      color: #fff;
      font-size: 0.85rem;
      opacity: 0.5;
      pointer-events: none; }
    .btn.btn-tag:hover {
      background: #fff !important;
      border: 1px solid #e22a6f;
      color: #ff3883; }

.badge {
  border-radius: 2px;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.5;
  color: #fff; }
  .badge.badge-success {
    background-color: #50bd35; }
  .badge.badge-danger {
    background-color: #ec2427; }
  .badge.badge-warning {
    background-color: #faa110; }
  .badge.badge-secondary {
    background-color: #cccccc; }
  .badge.badge-primary {
    background-color: #678cf9; }
  .badge.badge-light {
    color: #000;
    opacity: 0.8; }

/*--SWITCH BUTTONS--*/
/* The switch - the box around the slider */
.switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 36px; }

/* Hide default HTML checkbox */
.switch input {
  display: none; }

/* The slider */
.slider {
  -webkit-transition: .4s;
  background-color: #ccc;
  bottom: -1px;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s; }

.slider:before {
  background-color: white;
  bottom: 14%;
  content: "";
  height: 15px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 15px; }

.switch-label {
  vertical-align: bottom;
  margin-right: 40px; }

input:disabled + .slider {
  opacity: 0.5;
  pointer-events: none; }

input:checked + .slider {
  background-repeat: repeat;
  background-size: 110% 110%;
  -webkit-background-size: 110% 110%;
  -moz-background-size: 110% 110%;
  -ms-background-size: 110% 110%;
  -o-background-size: 110% 110%;
  background-image: linear-gradient(to right, #e22a6f, #fe6666);
  transition: .4s; }

input:focus + .slider {
  background-repeat: repeat;
  background-size: 110% 110%;
  -webkit-background-size: 110% 110%;
  -moz-background-size: 110% 110%;
  -ms-background-size: 110% 110%;
  -o-background-size: 110% 110%;
  box-shadow: 0 0 1px linear-gradient(to right, #e22a6f, #fe6666); }

input:checked + .slider:before {
  -ms-transform: translateX(15px);
  -webkit-transform: translateX(15px);
  transform: translateX(15px); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

/*
(btn_height-module+2)/font_size
*/
.dropdown-menu .drop-link {
  display: inline-table;
  margin: 5px; }
  .dropdown-menu .drop-link i {
    color: #e22a6f;
    font-size: 20px; }

.dropright .dropdown-menu {
  margin-top: 2px;
  margin-left: 1rem; }

.popover-body {
  padding: 0.7rem 0.75rem; }
  .popover-body .popover-content i {
    color: #b2b2b2;
    margin-right: 15px;
    margin-left: 15px;
    transition: .3s;
    font-size: 16px; }
    .popover-body .popover-content i:hover {
      color: #e22a6f;
      transition: .3s; }

@media screen and (max-width: 991px) {
  .btn {
    margin: 5px; }
  .btn-group {
    margin-top: 10px; }
    .btn-group.mobile {
      margin-top: 0; }
  .sizeble-buttons .btn {
    margin-right: 0 !important; }
  .dropdown-content .dropdown {
    margin-right: 5px !important; }
  .check-btn label {
    margin-right: 7px !important; }
  .radio-btn {
    margin-top: 5px; }
    .radio-btn label {
      margin-right: 8px !important; }
  .this-line h6, .first-line h6 {
    margin-right: 0 !important; }
  .switch-label {
    margin-right: 7px; } }

.circle_1 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #e22a6f; }

.circle_2 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ff3883; }

.circle_3 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  opacity: 0.5;
  background-color: #e22a6f; }

.circle_4 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-image: linear-gradient(to right, #e22a6f, #fe6666); }

.circle_5 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #e7e9ec; }

.circle_6 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #f2f5f8; }

.circle_7 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #50bd35; }

.circle_8 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ffbb41; }

.circle_9 {
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #ec2427; }

.head-c {
  font-weight: normal;
  color: #000000;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px; }

.bot-p {
  font-weight: normal;
  color: #000000;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  opacity: 0.8;
  font-family: Roboto;
  font-size: 0.78rem; }

.accent-normal {
  color: #e22a6f !important; }

.yellow {
  background: #ffbb41 !important; }

.purple {
  background: #678cf9 !important; }

.purpledot {
  border: 1px solid #678cf9 !important; }

.yellowdot {
  border: 1px solid #ffbb41 !important; }

.white {
  color: #fff !important; }

.success {
  color: #50bd35 !important; }

.warning {
  color: #ffbb41 !important; }

.danger {
  color: #ec2427 !important; }

.primary {
  color: #678cf9 !important; }

@media screen and (max-width: 991px) {
  .color-content {
    margin-right: 7% !important; } }

.a-default {
  color: #e22a6f !important;
  display: inline-table; }
  .a-default:hover {
    color: #ff3883;
    transition: .3s; }

.a-norm-1 {
  display: inline-table; }

.a-norm-2 {
  color: #000;
  display: inline-table; }
  .a-norm-2:hover {
    color: #ff3883;
    transition: .3s; }

.a-disabled {
  color: #adadad;
  display: inline-table;
  pointer-events: none; }
  .a-disabled:hover {
    color: #adadad; }

@media screen and (max-width: 991px) {
  .links a {
    margin-right: 25px !important; } }

.okay ul {
  list-style-type: circle; }

ul * {
  list-style-type: none; }

ul ul {
  margin-top: 1.28rem;
  padding-left: 1.28rem; }

.offset-top-150 {
  margin-top: 10.71rem; }

.offset-right-150 {
  margin-right: 8.21rem; }

.offset-right-15 {
  margin-right: 1.07rem; }

.offset-top-50 {
  margin-top: 3.57rem; }

.offset-top-40 {
  margin-top: 2.85rem; }

.offset-top-34 {
  margin-top: 2.42rem; }

.offset-top-20 {
  margin-top: 1.42rem; }

.offset-top-70 {
  margin-top: 5rem; }

.offset-bottom-70 {
  margin-bottom: 5rem; }

.offset-right-80 {
  margin-right: 5.71rem; }

.offset-bottom-m20 {
  margin-bottom: -1.42rem; }

.offset-bottom-10 {
  margin-bottom: 10px; }

.offset-bottom-40 {
  margin-bottom: 2.85rem; }

.offset-bottom-50 {
  padding-bottom: 3.57rem; }

.offset-bottom-75 {
  margin-bottom: 5.35rem; }

.offset-bottom-25 {
  padding-bottom: 1.78rem; }

.offset-bottom-20 {
  margin-bottom: 1.42rem; }

.offset-left-40 {
  margin-left: 2.85rem; }

.offset-0 {
  margin: 0;
  padding: 0; }

.offset-check {
  margin-top: .5rem; }

.offset-auto {
  margin-top: auto; }

@media screen and (max-width: 991px) {
  .offset-top-150 {
    margin-top: 1rem; }
  .sm-bottom-20 {
    margin-bottom: 1.42rem; } }

/*--Checkbox element--*/
.checkbox {
  display: none; }

.checkbox-custom {
  border-radius: 3px;
  border: 1px solid #ccc;
  display: inline-block;
  height: 20px;
  position: relative;
  width: 20px;
  vertical-align: top; }

.checkbox:checked + .checkbox-custom::before {
  border-radius: 2px;
  bottom: 2px;
  color: #ff3883;
  content: '\f00c';
  display: block;
  font-family: 'FontAwesome';
  left: 2px;
  position: absolute;
  right: 2px;
  top: 0; }

.checkbox:checked + .checkbox-custom {
  border: 1px solid #ff3883; }

/*--End Checkbox element--*/
/* Customize the label (the container) */
.radio-container {
  display: inline-table;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default radio button */
.radio-container input {
  position: absolute;
  opacity: 0; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #ccc;
  border-radius: 50%; }

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  border: 1px solid #ff3883; }

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
  background: #ff3883;
  border-radius: 50%;
  height: 8px;
  transform: translate(29%, 27%);
  width: 8px; }

.alert-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1); }

.noUi-horizontal {
  height: 4px !important; }

.noUi-horizontal .noUi-handle {
  border: 1px solid #e22a6f;
  border-radius: 50%;
  width: 10px !important;
  height: 10px !important;
  top: -4px !important; }

.noUi-connect {
  background: #e22a6f; }

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -1px !important; }

.sll1, .sll2, .sll3 {
  margin-bottom: 10px; }

table .search_window {
  border-bottom: 1px solid #000000;
  opacity: 0.2; }

table i {
  float: right; }
  table i:hover {
    color: #ff3883;
    transition: .3s; }

table .top-b th {
  border-top: 0; }

table .search-box {
  display: inline-table;
  width: 90%; }
  table .search-box.mail {
    width: 60%; }

.table-gray {
  background: #f2f5f8; }

.table-light {
  background-color: #fff; }

.table-striped th:first-child {
  padding-left: 30px !important; }

.table-bordered caption {
  caption-side: top;
  color: #000;
  opacity: 10; }

.table-bordered thead tr th {
  font-size: 1rem !important;
  color: #000 !important; }

.table-bordered tbody tr td {
  color: #000;
  opacity: 0.8; }

.top-table-container {
  width: 100%;
  height: 100%; }
  .top-table-container .elements .fa-search {
    position: absolute;
    top: 14%;
    left: 89%;
    font-size: 1rem; }
  .top-table-container .elements .form-control {
    width: 95% !important;
    background-color: transparent;
    border: 0;
    padding: 0;
    padding-right: 20px;
    padding-left: 0 !important;
    transition: .3s;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 1px solid transparent; }
    .top-table-container .elements .form-control:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
      border-radius: 0 !important;
      transition: .3s; }
  .top-table-container .sort .table-heading {
    font-weight: 400;
    font-size: 1rem;
    pointer-events: none; }
  .top-table-container .sort .fa-sort-up {
    position: absolute;
    top: 0;
    right: 16px; }
  .top-table-container .sort .fa-sort-down {
    position: absolute;
    top: 7px;
    right: 16px; }

@media screen and (min-width: 992px) {
  .table-responsive {
    display: inline-table !important; } }

.user ul {
  margin-bottom: 0; }

/*--Typography container--*/
.content {
  padding-left: 41px;
  padding-right: 50px;
  padding-top: 50px; }
  .content .text-container {
    margin-bottom: 50px; }

.disabled {
  color: #6c757d; }

/*--End Typography container--*/
/*--Tables container--*/
.content_tables {
  margin-top: 30px;
  padding-left: 41px;
  padding-right: 50px;
  padding-top: 50px; }

/*--End Tables container--*/
/*--Colors container--*/
.color-content {
  display: inline-table;
  margin-right: 3%; }

/*--End Colors container--*/
/*--Link container--*/
.links {
  margin-bottom: 20px; }
  .links a {
    margin-right: 31px;
    margin-left: 10px; }

.content-container .form-control {
  padding-left: 14px; }

.passone, .passtwo {
  display: inline-table; }

/*--End Link container--*/
/*--Buttons container--*/
.tag-container {
  display: inline-table; }
  .tag-container .btn-tag {
    margin-right: 10px; }
  .tag-container .btn-tag-2 {
    margin-right: 10px; }

.social-navs {
  display: inline-table; }
  .social-navs i {
    color: #fff; }

.badges-container .badge {
  margin-right: 10px; }

.dropdown-content .dropdown {
  display: inline-table;
  margin-right: 20px; }

.sizeble-buttons .btn {
  margin-right: 20px; }

.check-btn label {
  margin-right: 26px; }

.radio-btn label {
  margin-right: 28px; }

/*--End Buttons container--*/
.accordion {
  margin-bottom: 20px; }
  .accordion .card {
    border: 0; }
  .accordion .card-header {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    transition: .1s; }
    .accordion .card-header.success-shadow[aria-expanded="true"] {
      color: #50bd35; }
    .accordion .card-header.warning-shadow[aria-expanded="true"] {
      color: #ffbb41; }
    .accordion .card-header.danger-shadow[aria-expanded="true"] {
      color: #ec2427; }
    .accordion .card-header[aria-expanded="true"] {
      color: #e22a6f;
      transition: .1s; }
  .accordion .card-header-v2 {
    background-color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid 1px #ff3883;
    color: #ff3883 !important;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0; }
    .accordion .card-header-v2[aria-expanded="true"] {
      background-image: linear-gradient(to right, #e22a6f, #fe6666);
      border: 0;
      color: #fff !important; }
    .accordion .card-header-v2[aria-expanded="false"] {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
  .accordion .card-body {
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    margin-top: 10px; }
  .accordion .card-body-v2 {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    flex: 1 1 auto;
    padding: 1.25rem; }

.tab .card-body {
  margin-top: 0; }

.this-line h6, .first-line h6 {
  font-size: 1rem;
  font-weight: 400;
  display: inline-table;
  transform: translate(0, 1.1rem);
  margin-right: 43px; }

.this-line label, .first-line label {
  display: inline-table; }

/*Бокове меню UL*/
.ul-element {
  margin-left: 15px; }
  .ul-element a {
    display: inline-table !important;
    padding-left: 10px !important; }
    .ul-element a i {
      padding-right: 10px !important; }

.to-left {
  display: flex;
  justify-content: flex-start; }

.to-right {
  display: flex;
  justify-content: flex-end; }

.to-center {
  display: flex;
  justify-content: center; }

.card-container {
  width: 100%;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto; }

.card-content {
  margin-top: 30px;
  padding-left: 41px;
  padding-right: 50px;
  padding-top: 50px; }

.card .card-header a[aria-expanded="true"] {
  color: #000000 !important;
  background: transparent !important; }

.card.rounded {
  border-radius: 0px !important; }

.card a::before {
  content: none; }

.card a[aria-expanded="true"] {
  background-color: transparent;
  color: blue; }

.card .title {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 2.143rem;
  font-weight: 500; }

.card .sub-title {
  color: #000000;
  font-family: "Roboto";
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500; }

.card .content-title {
  margin-top: 0;
  margin-bottom: 2rem; }

.card-header .fa {
  float: right;
  transition: .4s transform ease-in-out; }

.card-header .collapsed .fa {
  transform: translateY(5%); }

.card-header {
  background-color: transparent; }

.card {
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  .card .card-header.accent-normal {
    background: #e22a6f; }
    .card .card-header.accent-normal .nav .nav-item a {
      color: #fff; }
  .card .card-header.gradient {
    background: linear-gradient(to right, #e22a6f, #fe6666); }
    .card .card-header.gradient .nav .nav-item a {
      color: #fff; }
  .card .card-header .nav .nav-item a[aria-selected="true"] {
    color: #000; }
  .card .card-body.accent-normal {
    background: #e22a6f;
    color: #fff; }
  .card .card-body.gradient {
    background: linear-gradient(to right, #e22a6f, #fe6666);
    color: #fff; }

@media screen and (max-width: 991px) {
  .card-container {
    padding: 0; }
    .card-container .card-content {
      margin-top: 0; }
  .card {
    height: 100%; } }

.card-header .d-block[aria-expanded="true"] i {
  transition: 0.3s; }

.card-header .d-block[aria-expanded="false"] i {
  transform: rotate(180deg);
  transition: 0.3s; }

.card-header .d-block i {
  float: right; }

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: #000;
  opacity: 0.5;
  font-weight: 300; }

.bootstrap-select .dropdown-toggle:focus {
  outline: none !important; }

.dropdown-toggle::after {
  transition: 0.4s;
  content: "\f078";
  font-family: 'FontAwesome';
  margin-left: 5px; }

.dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(180deg);
  transition: 0.4s; }

.bootstrap-select {
  display: block !important; }

.dropdown-item:hover, .dropdown-item:focus {
  color: #ff3883;
  background-color: transparent; }

.dropdown-item.active, .dropdown-item:active {
  background-color: transparent;
  color: #e22a6f; }

.dropdown .btn.dropdown-toggle {
  color: #000;
  font-weight: 300; }
  .dropdown .btn.dropdown-toggle:after {
    margin-left: 50px; }

.bd-example {
  position: relative;
  border: solid #f7f7f9;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem; }
  .bd-example .scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto; }
  .bd-example .scrollspy-example-2 {
    position: relative;
    height: 350px;
    overflow: auto; }

#navbar-example3.navbar {
  margin-bottom: 0; }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: #e22a6f; }

/* .list-group-item.active {
		background-color: $accent-normal;
		border-color: $accent-normal;
}
.dropdown-item.active, .dropdown-item:active {
		background-color: $accent-normal;
} */
.bd-example-modal {
  background-color: #fafafa; }

.bd-example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block; }

.list-group button:focus {
  outline: none;
  border: 1px solid #e22a6f; }

.list-group .list-group-item-action:active {
  color: #fff;
  background: linear-gradient(to right, #e22a6f, #fe6666); }

.list-group .list-group-item-action:hover {
  background-color: #fff; }

.list-group .list-group-item-action:focus {
  background-color: #fff; }

.list-group .list-group-item.active {
  background: linear-gradient(to right, #e22a6f, #fe6666);
  border-color: transparent; }
  .list-group .list-group-item.active .d-flex h5 {
    color: #fff; }
  .list-group .list-group-item.active .mb-1 {
    color: #fff; }

.modal-body a {
  color: #007bff; }
  .modal-body a:hover {
    color: #ff3883; }

.btn-secondary {
  color: #fff !important; }
  .btn-secondary:hover {
    opacity: 0.8; }

.container-fluid .back-box {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
  margin-top: 10px; }

form .form-group .dropdown.disabled {
  pointer-events: none; }

form .form-group .dropdown .btn:after {
  float: right; }

.form-control {
  color: #000;
  font-weight: 300;
  font-size: 1.14rem; }
  .form-control:disabled {
    background-color: transparent;
    opacity: 0.5; }
  .form-control:focus {
    border-color: #00000042;
    box-shadow: none; }

.form-control-lg {
  font-size: 1.14rem !important; }

.form-control-sm {
  font-size: 0.85rem !important; }

.custom-file-input {
  cursor: pointer; }

.container-fluid form .form-control {
  padding-left: 15px !important;
  font-size: 1rem; }

.container-fluid form .valid-feedback, .container-fluid form .invalid-feedback {
  text-align: right; }

.form-group label {
  font-size: 13px;
  font-weight: 400;
  color: #000;
  opacity: 0.6; }

.form-group .password-check {
  position: absolute;
  top: 6px;
  right: 25px; }

.form-actions {
  margin-bottom: 1rem; }

/*--Tooltip for validate--*/
.tooltip .tooltip-arrow {
  content: "";
  position: absolute;
  top: 44%;
  right: 95%;
  margin-top: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent #f7f7f7 transparent transparent; }

.tooltip .tooltip-inner {
  color: #000;
  background-color: #f7f7f7;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
  padding: 0.55rem 0.8rem; }

/*--End validate tooltip--*/
@media screen and (max-width: 991px) {
  form .btn {
    margin-left: 0 !important;
    margin-top: 10px;
    margin-bottom: 10px; } }

.check-pass:before {
  content: "\f070"; }

.check-pass:active:before {
  content: "\f06e"; }

/*---Accordations--*/
.accordion .card-header.collapsed:after, .accordion .card-header-v2.collapsed:after {
  content: "\f067"; }

.accordion .card-header:after, .accordion .card-header-v2:after {
  content: "\f068";
  float: right;
  font-family: 'FontAwesome'; }

.purp {
  color: #ff3883 !important; }

.collapse-btn {
  border: 1px solid #cccccc;
  border-radius: 5px; }
  .collapse-btn .btn-col {
    cursor: pointer;
    display: inline-table;
    margin-right: 30px;
    color: #000000;
    opacity: 0.5; }
    .collapse-btn .btn-col[aria-expanded="true"] {
      color: #000000 !important;
      background: transparent !important;
      opacity: 10; }
  .collapse-btn .active {
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, #e22a6f, #fe6666) 1 0;
    border-style: solid;
    border-top-width: 0; }
  .collapse-btn a[aria-expanded="true"] {
    background-color: transparent;
    color: #000; }
    .collapse-btn a[aria-expanded="true"] ~ .collapse-btn {
      border-bottom-left-radius: 0px !important;
      border-bottom-right-radius: 0px !important; }
  .collapse-btn a::before {
    content: none !important; }

.btn-col {
  margin-left: 30px;
  padding-bottom: 11px;
  padding-left: 0px;
  padding-top: 16px;
  border-bottom: 3px solid transparent; }
  .btn-col[aria-expanded="true"] {
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, #e22a6f, #fe6666) 1 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0; }
  .btn-col:hover {
    border-bottom-width: 3px;
    border-image: linear-gradient(to right, #e22a6f, #fe6666) 1 0;
    border-left-width: 0;
    border-right-width: 0;
    border-style: solid;
    border-top-width: 0;
    opacity: 10; }

.col-card {
  position: relative;
  background-clip: border-box;
  background-color: #fff;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-bottom: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word; }

@media screen and (max-width: 991px) {
  .btn-col-1 {
    margin-right: 24px !important;
    margin-left: 19px !important; } }

/*--End Accordations--*/
/*--Tabs--*/
.button-box .active {
  background: linear-gradient(to right, #e22a6f, #fe6666);
  border-radius: 50px;
  color: #fff;
  padding: 10px 26px; }

.button-box .buttons {
  margin-bottom: 10px; }
  .button-box .buttons .btn-box {
    border-radius: 50px;
    border: 1px solid transparent;
    padding: 10px 26px;
    display: inline-table;
    margin-right: 26px;
    transition: .3s;
    cursor: pointer; }
    .button-box .buttons .btn-box:hover {
      border-radius: 50px;
      border: 1px solid #ff3883;
      padding: 10px 26px;
      transition: .3s; }
  .button-box .buttons .btn-box[aria-expanded="true"] {
    background: linear-gradient(to right, #e22a6f, #fe6666);
    border-radius: 50px;
    color: #fff;
    padding: 10px 26px; }

.buttons-content .card-body {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px; }

@media screen and (max-width: 991px) {
  .btn-box {
    margin-right: 19px !important; } }

/*End Tabs--*/
.carousel-inner .carousel-item {
  height: 550px; }
  .carousel-inner .carousel-item .content {
    height: 550px;
    width: 100%;
    background-color: #f1f5f8; }
    .carousel-inner .carousel-item .content h1 {
      text-align: center;
      transform: translate(0%, 500%);
      opacity: 0.5; }
  .carousel-inner .carousel-item .carousel-caption h5 {
    text-align: center;
    color: #000;
    opacity: 0.7; }
  .carousel-inner .carousel-item .carousel-caption p {
    text-align: center;
    color: #000;
    opacity: 0.7; }

.carousel-control-prev-icon:before {
  content: '\f053';
  color: #ff3883;
  font-family: 'FontAwesome';
  font-size: 1.5rem; }

.carousel-control-next-icon:before {
  content: '\f054';
  color: #ff3883;
  font-family: 'FontAwesome';
  font-size: 1.5rem; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-image: none; }

.carousel-indicators li {
  background-color: #ff3883;
  opacity: 0.6; }

.carousel-indicators .active {
  background-color: #ff3883;
  opacity: 10; }

.progress-body {
  position: relative;
  margin: 1rem -15px 0;
  border: solid #f7f7f9;
  padding: 1.5rem;
  margin-right: 0;
  margin-left: 0;
  border-width: .2rem; }
  .progress-body .progress {
    margin-top: 1rem; }
    .progress-body .progress .progress-bar {
      background-color: #e22a6f; }

nav ul * {
  list-style-type: none; }

nav li.page-item {
  margin-right: 1.07rem; }
  nav li.page-item.disabled {
    background: #fff; }
    nav li.page-item.disabled .page-link {
      border-color: #e22a6f; }
  nav li.page-item.active .page-link {
    background-repeat: repeat;
    background-size: 110% 110%;
    -webkit-background-size: 110% 110%;
    -moz-background-size: 110% 110%;
    -ms-background-size: 110% 110%;
    -o-background-size: 110% 110%;
    background-image: linear-gradient(to right, #e22a6f, #fe6666);
    border: 1px solid transparent;
    border-radius: 2px; }
  nav li.page-item:first-child .page-link {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px; }
  nav li.page-item:last-child .page-link {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px; }

nav li .page-link {
  font-size: 0.85rem;
  font-family: 'Roboto';
  padding: 0.55rem 0.77rem;
  background-color: #fff;
  border-radius: 2px;
  border: solid 1px #e22a6f;
  color: #7f7f7f;
  line-height: 1; }
  nav li .page-link:hover {
    background-color: #fff;
    border-color: #e22a6f;
    color: #e22a6f; }
  nav li .page-link:focus {
    box-shadow: 0 0 0 0.2rem #e22a6f3b; }

.breadcrumb {
  background: transparent;
  padding: 0.75rem 0rem; }
  .breadcrumb .breadcrumb-item {
    color: #000;
    font-size: 1rem;
    font-weight: 400; }
    .breadcrumb .breadcrumb-item a:hover {
      color: #e22a6f; }
    .breadcrumb .breadcrumb-item.active {
      color: #e22a6f; }
    .breadcrumb .breadcrumb-item + .breadcrumb-item::before {
      color: #000;
      opacity: 0.5;
      content: "\f054";
      font-family: 'FontAwesome';
      margin-left: 10px;
      margin-right: 10px;
      padding: 0; }

.btn-group .btn {
  margin-right: 0; }

.btn-group .dropdown-menu {
  transform: translate3d(0px, 40px, 0px); }

#marker-map, #default-map, #overlay-map, #geo-map, #street-map, #types-map {
  height: 400px; }
